#algo-table {
    border-collapse: separate;
    border-spacing: 0;
}

#navbar {
    width: 100% !important;
}

#algorithm-details {
    margin-top: 30px;
}

#array-io {
    display: none;
}

#array-out {
    flex-grow: 1;
    margin-left: 20px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
    padding-bottom: 15px;
}

/* Dark mode */
body.dark-mode {
    background-color: #222;
    color: #f8f9fa;
}

body.dark-mode .bar {
    background-color: #fff;
    border-color: #ddd;
}

body.dark-mode pre[class*="language-"] {
    border-color: #444;
    background-color: #333;
}

body.dark-mode th,
body.dark-mode td {
    border-color: #444;
}

body.dark-mode #visualizer {
    border-color: #444;
    background-color: #333;
}

.bar {
    width: 2%;
    height: 2%;
    background-color: #007bff;
    border: 1px solid #004c9e;
    margin: 0.4%;
}

.code-block {
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
    min-width: 0; /* This allows the element to shrink below its initial width */
    flex-shrink: 1; /* This allows the element to shrink if necessary */
}

@media (max-width: 1000px) { 
  .code-block {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

#controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#controls div {
    margin: 1% 4%
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#horz-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#button-group, #title-container {
    max-width: 50%;  /* Adjust as needed */
}

pre[class*="language-"] {
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #FFF;
}

pre[class*="language-"] .token.operator {
    background-color: #FFF;
}

pre[class*="language-"] .token.comment {
    color: #008200;
}

.slider-container {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 20px;
}

.slider-container label {
    margin: 5px;
}

#speed {
    width: 200px;
}

th,
td {
    border: 1px solid #ced4da;
}

#vert-group {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

#vert-group div {
    margin: 5px;
}

#visualizer {
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    height: 500px;
    border: 1px solid #ced4da;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 30px;
}

button#theme-toggle, button#mute-button{
    align-self: center;
    padding: 10px;
    margin-left: 15px;
    margin-top: 15px;
}

.dark-mode .language-javascript {
    text-shadow: none;
    color: #6ae;
}

.dark-mode pre[class*="language-"] .token.comment {
    color: #9ab;
  }
  
  .dark-mode pre[class*="language-"] .token.punctuation {
    color: #ccc;
  }
  
  .dark-mode pre[class*="language-"] .token.property {
    color: #e60;
  }
  
  .dark-mode pre[class*="language-"] .token.operator {
    color: #d7f;
    background-color: #333;
  }
  
  .dark-mode pre[class*="language-"] .token.selector {
    color: #8b2;
  }
  
  .dark-mode pre[class*="language-"] .token.url {
    color: #cde;
  }
  
  .dark-mode pre[class*="language-"] .token.boolean {
    color: #a8f;
  }
  
  .dark-mode pre[class*="language-"] .token.atrule {
    color: #ffb;
  }
  
  .dark-mode pre[class*="language-"] .token.keyword {
    color: #f55;
  }
  
  .dark-mode pre[class*="language-"] .token.function {
    color: #fe6;
  }
  
  .dark-mode pre[class*="language-"] .token.regex {
    color: #f91;
  }
  
  .dark-mode pre[class*="language-"] .token.property-value {
    color: #6ae;
  }
  
  .dark-mode pre[class*="language-"] .token.number {
    color: #6ae;
  }