#algorithm-details {
    margin-top: 30px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
    padding-bottom: 15px;
}

.bar {
    width: 2%;
    height: 2%;
    background-color: #007bff;
    border: 1px solid #004c9e;
    margin: 0.4%;
}

.code-block {
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
}

#controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

pre[class*="language-"] {
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #FFF;
}

pre[class*="language-"] .token.operator {
    background-color: #FFF;
}

pre[class*="language-"] .token.comment {
    color: #008200;
}

.slider-container label {
    margin: 5px;
}

#speed {
    width: 200px;
}

th,
td {
    border: 1px solid #ced4da;
}

#vert-group {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

#vert-group div {
    margin: 5px;
}

#visualizer {
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    height: 500px;
    border: 1px solid #ced4da;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 30px;
}